@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,900,700italic,200,400italic);
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css);
/* Custom mixin to define typographic scale
    Usage: @include scale('l'); 
*/
/* =Utility Mixins
*************************************************************************/
/* A custom mixin to streamline animations.
 Usage: @include animation(spin 1.3s infinite ease-in); */
/* A custom mixin to define animations.
    Usage: @include animation-frames(spin) {
        from {
            color: red;
        }

        to {
            color: white;
        }
    }
*/
/* =/Utility Mixins
*************************************************************************/
/* =Media Mixins
*************************************************************************/
/* Custom mixin for media queries.
  Usage: @include flow('small') {
    .class {
      background: red;
    }
  }

  OR

  .class {
    background: red;
    @include mq-flow('small') {
      background: blue;
    }
  } */
/* =/Media Mixins
*************************************************************************/
/* =Pen Styles
*************************************************************************/
/* line 173, style.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 179, style.scss */
body {
  background: #99d7ff;
  color: #282828;
  font-family: "Titillium Web", Helvetica, Verdana, Arial, sans-serif;
  margin: 0 auto;
  max-width: 80em;
}

/* line 187, style.scss */
h1 {
  font-size: 3em;
  line-height: 1.3125em;
}

/* line 191, style.scss */
h2 {
  font-size: 2.25em;
  line-height: 1.16667em;
}

/* line 195, style.scss */
h3 {
  font-size: 1.875em;
  line-height: 1.4em;
}

/* line 199, style.scss */
h4 {
  font-size: 1.5em;
  line-height: 1.75em;
}

/* line 203, style.scss */
img {
  width: 100%;
}

/* line 207, style.scss */
.container {
  margin: 0 auto;
  max-width: 80em;
  padding: 0 1em;
}

/* line 214, style.scss */
.intro,
.outro {
  font-size: 1.875em;
  line-height: 1.4em;
  clear: both;
}

/* line 219, style.scss */
.hero {
  position: relative;
}
/* line 222, style.scss */
.hero .__pitch {
  background: #0053bd;
  color: white;
  padding: 0.4em;
  width: 20em;
}

/* line 230, style.scss */
.info {
  width: 100%;
}

/* line 234, style.scss */
.attributes {
  display: inline-block;
  margin-right: 1%;
  width: 49%;
}
/* line 238, style.scss */
.attributes:nth-child(2n) {
  margin-right: 0;
}
/* line 244, style.scss */
.attributes .__list {
  list-style: none;
  padding: 0;
}
/* line 247, style.scss */
.attributes .__list .__icon {
  margin-right: 0.5em;
}

/* line 255, style.scss */
.examples {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0.5em;
  box-shadow: 2px 2px 3px #2973a3;
  margin-bottom: 1em;
  padding: 0.5em;
}
/* line 261, style.scss */
.examples:after {
  content: "";
  clear: both;
  display: table;
}
/* line 266, style.scss */
.examples .__title {
  margin-top: 0;
}
/* line 270, style.scss */
.examples .__button {
  background: #0053bd;
  color: white;
  float: left;
  font-weight: 600;
  margin: 0.3em;
  padding: 0.8em;
  text-decoration: none;
}

/* line 286, style.scss */
.contact {
  float: left;
  width: 48%;
}
/* line 290, style.scss */
.contact label, .contact .__field {
  display: block;
}
/* line 294, style.scss */
.contact label {
  font-weight: 700;
  margin: 0.3em 0;
}
/* line 299, style.scss */
.contact .__field {
  border: 2px solid #0053bd;
  color: #282828;
  padding: 0.2em;
}
/* line 308, style.scss */
.contact .__button {
  border: none;
  display: block;
}

/* line 314, style.scss */
.block {
  font-size: 1.875em;
  line-height: 1.4em;
  background: #0053bd;
  color: white;
  margin: 0 0.5em 0.5em 0;
  padding: 0.5em;
  text-align: center;
  width: 100%;
}

/* =/Pen Styles
*************************************************************************/
/* =Augments
*************************************************************************/
/**
 * Augment classes: layout, state, theme, animate, transition.
 */
@media screen and (max-width: 30em) {
  /* line 335, style.scss */
  .augment-stateMQ.block {
    /* Referencing %_--shiftBlock */
    background: white;
    color: #0053bd;
  }
}
@media screen and (min-width: 30.5em) and (max-width: 50em) {
  /* line 335, style.scss */
  .augment-stateMQ.block {
    /* Referencing %_--shiftBlock */
    box-shadow: 2px 3px 3px #282828;
  }
}
@media screen and (min-width: 50.5em) and (max-width: 70em) {
  /* line 335, style.scss */
  .augment-stateMQ.block {
    /* Referencing %_--shiftBlock */
    background: gold;
    color: #282828;
  }
}
@media screen and (min-width: 70.5em) and (max-width: 90em) {
  /* line 335, style.scss */
  .augment-stateMQ.block {
    /* Referencing %_--shiftBlock */
    border-radius: 1.5em;
  }
}
@media screen and (min-width: 90.5em) {
  /* line 335, style.scss */
  .augment-stateMQ.block {
    /* Referencing %_--shiftBlock */
    font-size: 2.25em;
    line-height: 1.16667em;
    font-weight: 700;
  }
}

/* line 364, style.scss */
.attributes .__list .augment-statePositive.__icon {
  /* referencing %_--positiveIcon */
  color: green;
}

/* line 369, style.scss */
.attributes .__list .augment-stateNegative.__icon {
  /* referencing %_--negativeIcon */
  color: red;
}

/* line 374, style.scss */
.augment-themeInvert.contact {
  /* referencing %_--inverseForm */
  background: #0053bd;
  border-radius: 0.5em;
  padding: 0.2em;
}
/* line 379, style.scss */
.augment-themeInvert.contact label {
  color: white;
}
/* line 382, style.scss */
.augment-themeInvert.contact .__field {
  border-radius: 0 0.5em 0.5em 0;
}
/* line 385, style.scss */
.augment-themeInvert.contact .__button {
  background: white;
  border-radius: 0 0 0 0.3em;
  color: #0053bd;
}

/* line 392, style.scss */
.examples .augment-animatePulse.__button:hover, .examples .augment-animatePulse.__button:focus {
  /* Referencing %_--pulse */
  -moz-animation: pulse 0.8s infinite ease-out;
  -o-animation: pulse 0.8s infinite ease-out;
  -webkit-animation: pulse 0.8s infinite ease-out;
  animation: pulse 0.8s infinite ease-out;
}

/* line 397, style.scss */
.examples .augment-animateRave.__button:hover, .examples .augment-animateRave.__button:focus {
  /* Referencing %_--rave */
  -moz-animation: rave 0.5s infinite ease-in;
  -o-animation: rave 0.5s infinite ease-in;
  -webkit-animation: rave 0.5s infinite ease-in;
  animation: rave 0.5s infinite ease-in;
}

/* line 402, style.scss */
.contact .augment-transitionFocus.__field:focus {
  /* Referencing %_--focus */
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  background: white;
  border: 1px solid #003c8a;
  border-left: 8px solid #003c8a;
}

@-moz-keyframes pulse {
  /* line 411, style.scss */
  0% {
    padding: 0.8em;
  }

  /* line 415, style.scss */
  50% {
    padding: 0.85em;
  }

  /* line 419, style.scss */
  100% {
    padding: 0.8em;
  }
}

@-webkit-keyframes pulse {
  /* line 411, style.scss */
  0% {
    padding: 0.8em;
  }

  /* line 415, style.scss */
  50% {
    padding: 0.85em;
  }

  /* line 419, style.scss */
  100% {
    padding: 0.8em;
  }
}

@-o-keyframes pulse {
  /* line 411, style.scss */
  0% {
    padding: 0.8em;
  }

  /* line 415, style.scss */
  50% {
    padding: 0.85em;
  }

  /* line 419, style.scss */
  100% {
    padding: 0.8em;
  }
}

@-ms-keyframes pulse {
  /* line 411, style.scss */
  0% {
    padding: 0.8em;
  }

  /* line 415, style.scss */
  50% {
    padding: 0.85em;
  }

  /* line 419, style.scss */
  100% {
    padding: 0.8em;
  }
}

@keyframes pulse {
  /* line 411, style.scss */
  0% {
    padding: 0.8em;
  }

  /* line 415, style.scss */
  50% {
    padding: 0.85em;
  }

  /* line 419, style.scss */
  100% {
    padding: 0.8em;
  }
}

@-moz-keyframes rave {
  /* line 425, style.scss */
  0% {
    background: red;
  }

  /* line 428, style.scss */
  25% {
    background: orange;
  }

  /* line 431, style.scss */
  50% {
    background: yellow;
  }

  /* line 434, style.scss */
  75% {
    background: green;
  }

  /* line 437, style.scss */
  100% {
    background: blue;
  }
}

@-webkit-keyframes rave {
  /* line 425, style.scss */
  0% {
    background: red;
  }

  /* line 428, style.scss */
  25% {
    background: orange;
  }

  /* line 431, style.scss */
  50% {
    background: yellow;
  }

  /* line 434, style.scss */
  75% {
    background: green;
  }

  /* line 437, style.scss */
  100% {
    background: blue;
  }
}

@-o-keyframes rave {
  /* line 425, style.scss */
  0% {
    background: red;
  }

  /* line 428, style.scss */
  25% {
    background: orange;
  }

  /* line 431, style.scss */
  50% {
    background: yellow;
  }

  /* line 434, style.scss */
  75% {
    background: green;
  }

  /* line 437, style.scss */
  100% {
    background: blue;
  }
}

@-ms-keyframes rave {
  /* line 425, style.scss */
  0% {
    background: red;
  }

  /* line 428, style.scss */
  25% {
    background: orange;
  }

  /* line 431, style.scss */
  50% {
    background: yellow;
  }

  /* line 434, style.scss */
  75% {
    background: green;
  }

  /* line 437, style.scss */
  100% {
    background: blue;
  }
}

@keyframes rave {
  /* line 425, style.scss */
  0% {
    background: red;
  }

  /* line 428, style.scss */
  25% {
    background: orange;
  }

  /* line 431, style.scss */
  50% {
    background: yellow;
  }

  /* line 434, style.scss */
  75% {
    background: green;
  }

  /* line 437, style.scss */
  100% {
    background: blue;
  }
}

/* =/Augments
*************************************************************************/
