@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,900,700italic,200,400italic);
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css);
/**
 * Single Responsibility BEM: Use your browser's search feature 
 * to find $METHOD to get started. It uses adjoining classes, 
 * which I'm well aware do not work in IE6 (that is, if anyone 
 * is still building for IE6). The downside about the second 
 * modifier method is that @extend didn't work within media 
 * queries, last I checked. The first method is still golden.
 */
/* Also, if you check the output, you'll see there's no bloat to be found. */
/* Custom mixin to define typographic scale
    Usage: @include scale('l'); 
*/
/* =Utility Mixins
*************************************************************************/
/* A custom mixin to streamline animations.
 Usage: @include animation(spin 1.3s infinite ease-in); */
/* A custom mixin to define animations.
    Usage: @include animation-frames(spin) {
        from {
            color: red;
        }

        to {
            color: white;
        }
    }
*/
/* =/Utility Mixins
*************************************************************************/
/* =Media Mixins
*************************************************************************/
/* Custom mixin for media queries.
  Usage: @include flow('small') {
    .class {
      background: red;
    }
  }

  OR

  .class {
    background: red;
    @include mq-flow('small') {
      background: blue;
    }
  } */
/* =/Media Mixins
*************************************************************************/
/* =Pen Styles
*************************************************************************/
/* line 183, style.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 189, style.scss */
body {
  background: #99d7ff;
  color: #282828;
  font-family: "Titillium Web", Helvetica, Verdana, Arial, sans-serif;
  margin: 0 auto;
  max-width: 80em;
}

/* line 197, style.scss */
h1 {
  font-size: 3em;
  line-height: 1.3125em;
}

/* line 201, style.scss */
h2 {
  font-size: 2.25em;
  line-height: 1.16667em;
}

/* line 205, style.scss */
h3 {
  font-size: 1.875em;
  line-height: 1.4em;
}

/* line 209, style.scss */
h4 {
  font-size: 1.5em;
  line-height: 1.75em;
}

/* line 213, style.scss */
img {
  width: 100%;
}

/* line 217, style.scss */
.container {
  margin: 0 auto;
  max-width: 80em;
  padding: 0 1em;
}

/* line 224, style.scss */
.intro,
.outro {
  font-size: 1.875em;
  line-height: 1.4em;
  clear: both;
}

/* line 229, style.scss */
.hero {
  position: relative;
}
/* line 232, style.scss */
.hero .__pitch {
  background: #0053bd;
  color: white;
  padding: 0.4em;
  width: 20em;
}

/* line 240, style.scss */
.info {
  width: 100%;
}

/* line 244, style.scss */
.attributes {
  display: inline-block;
  margin-right: 1%;
  width: 49%;
}
/* line 248, style.scss */
.attributes:nth-child(2n) {
  margin-right: 0;
}
/* line 254, style.scss */
.attributes .__list {
  list-style: none;
  padding: 0;
}
/* line 257, style.scss */
.attributes .__list .__icon {
  margin-right: 0.5em;
}

/* line 265, style.scss */
.examples {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0.5em;
  box-shadow: 2px 2px 3px #2973a3;
  margin-bottom: 1em;
  padding: 0.5em;
}
/* line 271, style.scss */
.examples:after {
  content: "";
  clear: both;
  display: table;
}
/* line 276, style.scss */
.examples .__title {
  margin-top: 0;
}
/* line 280, style.scss */
.examples .__button {
  background: #0053bd;
  color: white;
  float: left;
  font-weight: 600;
  margin: 0.3em;
  padding: 0.8em;
  text-decoration: none;
}

/* =/Pen Styles
*************************************************************************/
/* =Augments
*************************************************************************/
/**
 * Augment classes: state, animate, transition.
 */
/* line 306, style.scss */
.attributes .__list .augment-statePositive.__icon {
  /* referencing %_--positiveIcon */
  color: green;
}

/* line 311, style.scss */
.attributes .__list .augment-stateNegative.__icon {
  /* referencing %_--negativeIcon */
  color: red;
}

/* line 316, style.scss */
.examples .augment-animatePulse.__button:hover, .examples .augment-animatePulse.__button:focus {
  /* Referencing %_--pulse */
  -moz-animation: pulse 0.8s infinite ease-out;
  -o-animation: pulse 0.8s infinite ease-out;
  -webkit-animation: pulse 0.8s infinite ease-out;
  animation: pulse 0.8s infinite ease-out;
}

/* line 321, style.scss */
.examples .augment-animateRave.__button:hover, .examples .augment-animateRave.__button:focus {
  /* Referencing %_--rave */
  -moz-animation: rave 0.5s infinite ease-in;
  -o-animation: rave 0.5s infinite ease-in;
  -webkit-animation: rave 0.5s infinite ease-in;
  animation: rave 0.5s infinite ease-in;
}

@-moz-keyframes pulse {
  /* line 336, style.scss */
  0% {
    padding: 0.8em;
  }

  /* line 340, style.scss */
  50% {
    padding: 0.85em;
  }

  /* line 344, style.scss */
  100% {
    padding: 0.8em;
  }
}

@-webkit-keyframes pulse {
  /* line 336, style.scss */
  0% {
    padding: 0.8em;
  }

  /* line 340, style.scss */
  50% {
    padding: 0.85em;
  }

  /* line 344, style.scss */
  100% {
    padding: 0.8em;
  }
}

@-o-keyframes pulse {
  /* line 336, style.scss */
  0% {
    padding: 0.8em;
  }

  /* line 340, style.scss */
  50% {
    padding: 0.85em;
  }

  /* line 344, style.scss */
  100% {
    padding: 0.8em;
  }
}

@-ms-keyframes pulse {
  /* line 336, style.scss */
  0% {
    padding: 0.8em;
  }

  /* line 340, style.scss */
  50% {
    padding: 0.85em;
  }

  /* line 344, style.scss */
  100% {
    padding: 0.8em;
  }
}

@keyframes pulse {
  /* line 336, style.scss */
  0% {
    padding: 0.8em;
  }

  /* line 340, style.scss */
  50% {
    padding: 0.85em;
  }

  /* line 344, style.scss */
  100% {
    padding: 0.8em;
  }
}

@-moz-keyframes rave {
  /* line 350, style.scss */
  0% {
    background: red;
  }

  /* line 353, style.scss */
  25% {
    background: orange;
  }

  /* line 356, style.scss */
  50% {
    background: yellow;
  }

  /* line 359, style.scss */
  75% {
    background: green;
  }

  /* line 362, style.scss */
  100% {
    background: blue;
  }
}

@-webkit-keyframes rave {
  /* line 350, style.scss */
  0% {
    background: red;
  }

  /* line 353, style.scss */
  25% {
    background: orange;
  }

  /* line 356, style.scss */
  50% {
    background: yellow;
  }

  /* line 359, style.scss */
  75% {
    background: green;
  }

  /* line 362, style.scss */
  100% {
    background: blue;
  }
}

@-o-keyframes rave {
  /* line 350, style.scss */
  0% {
    background: red;
  }

  /* line 353, style.scss */
  25% {
    background: orange;
  }

  /* line 356, style.scss */
  50% {
    background: yellow;
  }

  /* line 359, style.scss */
  75% {
    background: green;
  }

  /* line 362, style.scss */
  100% {
    background: blue;
  }
}

@-ms-keyframes rave {
  /* line 350, style.scss */
  0% {
    background: red;
  }

  /* line 353, style.scss */
  25% {
    background: orange;
  }

  /* line 356, style.scss */
  50% {
    background: yellow;
  }

  /* line 359, style.scss */
  75% {
    background: green;
  }

  /* line 362, style.scss */
  100% {
    background: blue;
  }
}

@keyframes rave {
  /* line 350, style.scss */
  0% {
    background: red;
  }

  /* line 353, style.scss */
  25% {
    background: orange;
  }

  /* line 356, style.scss */
  50% {
    background: yellow;
  }

  /* line 359, style.scss */
  75% {
    background: green;
  }

  /* line 362, style.scss */
  100% {
    background: blue;
  }
}

/* =/Augments
*************************************************************************/
