@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,900,700italic,200,400italic);
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css);
@import "compass";


$max-width: 80em;



// =Typography
// *************************************************************************/

$primary: "Titillium Web", Helvetica, Verdana, Arial, sans-serif;

// Compass vertical rhythm
$base-font-size: 16px;
$base-line-height: 21px;

/* Custom mixin to define typographic scale
    Usage: @include scale('l'); 
*/
@mixin scale($font) {
  @if $font == 'ginormous' {
    @include adjust-font-size-to(60px);
  }
  @if $font == 'xxl' {
    @include adjust-font-size-to(48px);
  }
  @if $font == 'xl' {
    @include adjust-font-size-to(36px);
  }
  
  @if $font == 'l' {
    @include adjust-font-size-to(30px);
  }

  @if $font == 'm' {
    @include adjust-font-size-to(24px);
  }

  @if $font == 's' {
    @include adjust-font-size-to(21px);
  }

  @if $font == 'xs' {
    @include adjust-font-size-to(18px);
  }
}

// =/Typography
// *************************************************************************/

 /* =Utility Mixins
 *************************************************************************/

/* A custom mixin to streamline animations.
 Usage: @include animation(spin 1.3s infinite ease-in); */

@mixin animation($args) {
    -moz-animation: $args;
    -o-animation: $args;
    -webkit-animation: $args;
    animation: $args;
}
/* A custom mixin to define animations.
    Usage: @include animation-frames(spin) {
        from {
            color: red;
        }

        to {
            color: white;
        }
    }
*/
@mixin animation-frames($name) {
    @-moz-keyframes $name {
        @content;
    }

    @-webkit-keyframes $name {
        @content;
    }

    @-o-keyframes $name {
        @content;
    }

    @-ms-keyframes $name {
        @content;
    }

    @keyframes $name {
        @content;
    }
}

  
/* =/Utility Mixins
*************************************************************************/

// /* =Palette
// *************************************************************************/
  
$ocean-blue: rgba(0, 112, 255, 1);
$ocean-blue-dark: darken($ocean-blue, 13);
$aqua: rgba(0, 214, 255, 1);
$sky-blue: rgba(0, 155, 255, 1);
$sky-blue-dark: darken($sky-blue, 40);
$lime: rgba(138, 255, 0, 1);
$lime-light: lighten($lime, 16);
$white: rgba(255, 255, 255, 1);
$white-translucent: rgba($white, 0.6);
$grey: rgba(40, 40, 40, 1);
  
// /* =/Palette
// *************************************************************************/

/* =Media Mixins
*************************************************************************/
/* Custom mixin for media queries.
  Usage: @include flow('small') {
    .class {
      background: red;
    }
  }

  OR

  .class {
    background: red;
    @include mq-flow('small') {
      background: blue;
    }
  } */
@mixin mq-flow($state) {
  @if $state == 'small' {
    @media screen and (max-width: 30em) {
      @content;
    }
  }
  @if $state == 'medium' {
    @media screen and (min-width: 30.5em) and (max-width: 50em) {
      @content;
    }
  }
  @if $state == 'large' {
    @media screen and (min-width: 50.5em) and (max-width: 70em) {
      @content;
    }
  }
  @if $state == 'super' {
    @media screen and (min-width: 70.5em) and (max-width: 90em) {
      @content;
    }
  }
  @if $state == 'massive' {
    @media screen and (min-width: 90.5em) {
      @content;
    }
  }
}


/* =/Media Mixins
*************************************************************************/

/* =Pen Styles
*************************************************************************/

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: lighten($sky-blue, 30);
  color: $grey;
  font-family: $primary;
  margin: 0 auto;
  max-width: $max-width;
}

h1 {
  @include scale('xxl');
}

h2 {
  @include scale('xl');
}

h3 {
  @include scale('l');
}

h4 {
  @include scale('m');
}

img {
  width: 100%
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 1em;
}

.intro,
.outro {
  @include scale(l);
  clear: both;
}

.hero {
  position: relative;

  .__pitch {
    background: $ocean-blue-dark;
    color: $white;
    padding: 0.4em;
    width: 20em;
  }
}

.info {
  width: 100%;
}

.attributes {
  display: inline-block;
  margin-right: 1%;
  width: 49%;
  &:nth-child(2n) {
    margin-right: 0;
  }
  .__title {
    
  }
  .__list {
    list-style: none;
    padding: 0;
    .__icon {
      @extend %_--positiveIcon;
      @extend %_--negativeIcon;
      margin-right: 0.5em;
    }
  }
}

.examples {
  background: $white-translucent;
  border-radius: 0.5em;
  box-shadow: 2px 2px 3px desaturate(darken($sky-blue, 10), 40);
  margin-bottom: 1em;
  padding: 0.5em;
  &:after {
    content: "";
    clear: both;
    display: table;
  }
  .__title {
    margin-top: 0;
  }

  .__button {
    background: $ocean-blue-dark;
    color: $white;
    float: left;
    font-weight: 600;
    margin: 0.3em;
    padding: 0.8em;
    text-decoration: none;
    &:hover,
    &:focus {
      @extend %_--pulse;
      @extend %_--rave;
    }
  }
}

.contact {
  @extend %_--inverseForm;
  float: left;
  width: 48%;
  label, .__field {
    display: block;
  }

  label {
    font-weight: 700;
    margin: 0.3em 0;
  }

  .__field {
    border: 2px solid $ocean-blue-dark;
    color: $grey;
    padding: 0.2em;
    &:focus {
      @extend %_--focus;
    }
  }

  .__button {
    border: none;
    display: block;
  }
}

.block {
  @extend %_--shiftBlock;
  @include scale(l);
  background: $ocean-blue-dark;
  color: $white;
  margin: 0 0.5em 0.5em 0;
  padding: 0.5em;
  text-align: center;
  width: 100%;
}

/* =/Pen Styles
*************************************************************************/

/* =Augments
*************************************************************************/

/**
 * Augment classes: layout, state, theme, animate, transition.
 */

.augment-stateMQ%_--shiftBlock {
  @include mq-flow('small') {
    /* Referencing %_--shiftBlock */
    background: $white;
    color: $ocean-blue-dark;
  }
  @include mq-flow('medium') {
    /* Referencing %_--shiftBlock */
    box-shadow: 2px 3px 3px $grey;
  }

  @include mq-flow('large') {
    /* Referencing %_--shiftBlock */
    background: gold;
    color: $grey;
  }

  @include mq-flow('super') {
    /* Referencing %_--shiftBlock */
    border-radius: 1.5em;
  }

  @include mq-flow('massive') {
    /* Referencing %_--shiftBlock */
    @include scale(xl);
    font-weight: 700;
  }
}

.augment-statePositive%_--positiveIcon {
  /* referencing %_--positiveIcon */
  color: green;
}

.augment-stateNegative%_--negativeIcon {
  /* referencing %_--negativeIcon */
  color: red;
}

.augment-themeInvert%_--inverseForm {
  /* referencing %_--inverseForm */
  background: $ocean-blue-dark;
  border-radius: 0.5em;
  padding: 0.2em;
  label {
    color: $white;
  }
  .__field {
    border-radius: 0 0.5em 0.5em 0;
  }
  .__button {
    background: $white;
    border-radius: 0 0 0 0.3em;
    color: $ocean-blue-dark;
  }
}

.augment-animatePulse%_--pulse {
  /* Referencing %_--pulse */
  @include animation(pulse 0.8s infinite ease-out);
}

.augment-animateRave%_--rave {
  /* Referencing %_--rave */
  @include animation(rave 0.5s infinite ease-in);
}

.augment-transitionFocus%_--focus {
  /* Referencing %_--focus */
  @include transition(all 0.4s linear);
  background: $white;
  border: 1px solid darken($ocean-blue-dark, 10);
  border-left: 8px solid darken($ocean-blue-dark, 10);
}

@include animation-frames(pulse) {
  0% {
    padding: 0.8em;
  }

  50% {
    padding: 0.85em;
  }

  100% {
    padding: 0.8em;
  }
}

@include animation-frames(rave) {
  0% {
    background: red;
  }
  25% {
    background: orange;
  }
  50% {
    background: yellow;
  }
  75% {
    background: green;
  }
  100% {
    background: blue;
  }
}
/* =/Augments
*************************************************************************/